:root{
    --cinza:#c3c3c3f7;
}
/*Navbar*/

/*Area dos cards*/
.corpin{
    margin-bottom: 15px;
    border: 3px solid;
    background-color: var(--cinza);
}


.checked {
    color: orange;
  }

  .titulo{
    margin-top:6px;
    margin-bottom:2px!important;
  }

  img{
    height: 200px;
    width: 200px;
  }

  .card-espaco{
    width: 290px!important;
  }
  
  .imagem_venda_esquerda{
    height: 120px;
    width: 110px;
  }

  hr.new4 {
    border: 1px solid rgb(0, 0, 0);
    width: 80%;
  }

  .card-transparente{
    border: 0 solid!important;
    background-color: var(--cinza)!important;
  }

  .input_letter{
    display: block;
    width: 100%;
    height: calc(1.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 2.0;
    border: 0px solid #ced4da;
    border-radius: 2px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  /*Fim dos cards*/

  /*Footer*/