:root {
  --fundo_principal: #303030;
}

body {
  background-color: var(--fundo_principal) !important;
}

.text,
label,
h3,
h4,
h5,
a.nav-link {
  color: red !important;
}

p,
.texto-footer,
.green {
  color: green;
}
/*=================================================PÁGINA INICIAL=================================================================================*/
/*Navbar*/
.logotipo {
  width: 100px;
  height: 100px;
}

/*Fim do navbar*/

/*FIltro*/
.filtro {
  border: 1px solid red;
}
/*FIm do filtro*/

/*Area dos cards*/
.corpo-cards-cinzas {
  margin-bottom: 15px;
  border: 1px solid red;
  background-color: var(--fundo_principal);
  width: 300px;
  height: 800px;
  margin-right: 20px;
}

.checked {
  color: orange;
}
.small,
.color-num-avaliacoes {
  color: white;
}

.imagem_venda_esquerda {
  height: 120px;
  width: 110px;
}
.containerDireita {
  width: 900px;
  height: fit-content;
}
.CardContainer {
  width: 250px;
  height: 400px;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 20px;
}
.CardTitulo {
  font-size: 13px;
  padding-top: 20px;
}
.CardConteudo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.CardConteudoEsquerda {
  display: flex;
  margin: 20px;
}

/*Fim dos cards*/

/*Carrossel*/

.imagem-carrossel {
  width: 500px;
  height: 400px;
}

/*Footer*/
.footer-color {
  background-color: var(--fundo_principal);
  margin-top: 100px;
}

/*Fim do footer*/

/*Responsividade cards*/
@media (max-width: 575.98px) {
  .filtro {
    margin: 0 auto;
  }
  .cor-fundo-nav {
    text-align: center;
  }
  .Separador {
    display: flex;
    flex-wrap: wrap;
  }
  .CardContainer {
    width: 220px;
    justify-content: center;

    margin: 20px;
  }

  .corpo-cards-cinzas {
    margin-bottom: 15px;
    border: 1px solid red;
    margin: 0 auto;
  }
  .imagem-carrossel {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 991.98px) {
  .cor-fundo-nav {
    text-align: center;
  }

  .corpo-cards-cinzas {
    height: fit-content;
  }
  .imagem-carrossel {
    width: 350px;
    height: 350px;
  }
  .CardContainer {
    width: 200px;
  }
  .CardContainer img {
    height: 100px;
  }
}
/*=================================================PÁGINA INICIAL=================================================================================*/
.DetalhesContainer {
  border: 2px solid red;
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.bb {
  border: 6px solid green;
  width: 20px;
}
.h3 span,
h4 span,
.DetalhesDescricao {
  color: green !important;
}
